.container {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.475);
}

.card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;

  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(10px);

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.logo {
  color: #ff7f55;
  margin: 0;
}

.tagline {
  margin: 0;
  font-size: 14px;
}

.title {
  margin-top: 20px;
  font-size: 24px;       /* ubah dari default besar */
  color: #c12a13;
  line-height: 1.4;
  font-weight: 600;
}

.desc {
  margin: 15px 0;
  font-size: 16px;       /* lebih kecil & rapi */
  color: #f0995c;
  line-height: 1.5;
}

.btn-login {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #ff7f55;
  color: white;
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn-login:hover {
  background: #e66a45;      /* sedikit lebih gelap */
  transform: translateY(-2px); /* naik sedikit */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn-register {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background: transparent;
  color: black;
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn-register:hover {
  background: hsl(14, 76%, 95%, 0.2 );      /* sedikit lebih gelap */
  transform: translateY(-2px); /* naik sedikit */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo-img {
  width: 200px;   /* perbesar */
  object-fit: contain;
}